.card-header{
    justify-content: space-between;
    width: 100%;
}

.tab-menu{
    list-style: none;
}

.tab{
    font-size: 15px;
    border-bottom: solid var(--background-color);
    transition: ease;
    transition-duration: 0.5s;
}

.tab:hover{
    cursor: pointer;
    border-color: var(--main-color);
}

.active{
    border-bottom: solid;
    border-color: var(--green-color);
}

.active:hover{
    border-color: var(--green-color);
}